.booking {
    font-family: $pop-rgl;

    &--form {
        width: 100%;
        height: auto;

        &__icon {
            width: torem(66);
            height: torem(66);
            background: $light-grey;
            border-radius: 50%;
            @include justify-align-center;
        }
    }

    &--nav {
        background: $white;
        @include flexbox();
        @include justify-content(center);

        &__item {
            padding: $spacing-lg $spacing-xlg;
            text-align: center;
            @include flexbox;
            @include flex-direction(column);
            @include align-items(center);

            label {
                font-size: $small;
                color: $black;
                letter-spacing: -0.39px;
                margin-bottom: 0;
                margin-top: $spacing-xs;
            }

            &.active {
                .booking--form__icon {
                    background: $primary-color;
                }

            }
        }
    }

    &--content {
        padding: $spacing-xlg;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background-color: #F7F7F729;
        color: $white;

        & input.form-control {
            color: $black;
            border-right: none;
        }

        & .input-group-text {
            background: $white;
            color: $primary-color;
        }

        &__select {
            background: $white;
        }

        & .dropdown-item.active, .dropdown-item:active {
            background: $primary-color;
        }

        & .bootstrap-select .dropdown-toggle:after {
            font-family: "Font Awesome 5 Free";
            content: "\f017";
            color: $primary-color;
            border: none;
        }
    }
}
